*.ckpt
*.egg
*.egg-info/
*.lock
*.pt
*.pth
*.py[cod]
*.so
*.xlsx
*~
.idea/
.sync/
__pycache__/
archive/
build/
data/*/
dist/
env/anaconda3.sh
env/anaconda3_arm64.sh
project/*/data/*/
project/*/run/*/
project/supr
run/*/
src/project/*/
zoo/*/
/_gsdata_/_file_state_v4._gs
/_gsdata_/_insync_v4.gsl
