*.cache
*.caches
*.ckpt
*.deb
*.egg
*.egg-info/
# *.lock
*.pt
*.pth
*.py[cod]
*.rar
*.so
*.tar
*.xlsx
*.zip
*~
Icon?
.idea/
.sync/
__pycache__/
_gsdata_/
archive/
build/
dist/
/projects/
/projects/aic26_cross_city/
/projects/fisheye/
/projects/sdce/
/tools/xanylabeling/
/zoo/*/
