albumentations==0.5.2
easydict==1.9.0
hydra-core==1.1.0
joblib
kornia==0.5.0
matplotlib
numpy
opencv-python
packaging
pandas
pytorch-lightning==1.2.9
pyyaml
scikit-image==0.17.2
scikit-learn==0.24.2
tabulate
tensorflow
tqdm
webdataset
wldhx.yadisk-direct
